langchain
langchain-google-genai
langchain-groq
streamlit
pandas
faiss-cpu
sentence-transformers
torch
torchvision
opencv-python-headless
python-dotenv
pypdf
fpdf2
matplotlib
requests
numpy
pillow
google-generativeai
openpyxl
plotly